.navbar {
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  color: var(--secondary-color);
}

.btn {
  background-color: transparent;
  color: var(--secondary-color);
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn:focus {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
