.navbar {
  background-color: var(--primary-color);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  z-index: 100;
}

.navbar h3 {
  color: var(--secondary-color);
}
